<%- include("partials/header") %>
<div class="container-fluid">
    <p class="h3 font-weight-bold text-danger">Welcome !</p>
    <p class="h4">User : </p>
    <form action="/logout" method="GET">
        <button type="submit" class="btn btn-dark btn-lg btn-block submit-btn">Log Out</button> 
    </form>
</div>
<%- include("partials/footer") %> 