<%- include("partials/header") %> 
    <div class="container-fluid border">
        <div id="header">
            <h1 class="main-head">USER SYSTEM</h1>
            <span id="desc-head">Create an account or login</span>
        </div>
        <button class="btn btn-danger btn-lg btn-block submit-btn"><a class="btn-link" href="/signup">Sign Up</a></button>
        <button class="btn btn-dark btn-lg btn-block submit-btn"><a class="btn-link" href="/login">Log In</a> </button>
    </div>
<%- include("partials/footer") %> 